<!-- make a simple form asing for person, color noun and adjective-->
<!DOCTYPE html>
<html>
    <body>
        <form action="/madlib" method="GET">
            Fill in the blank: Mad-libs style.<br>
            Choose a type of being:<br>
            <select name="person-type"><p>What type of person are you?</p>
                <option value ="Vampire">Vampire</a>
                <option value ="Troll">Troll</a>
                <option value ="Transgender">Transgender</a>
                <option value ="Slayer">Slayer</a>  </select><br>
                    
            Choose a color:<br>
            <select name="color"><p>What's your favorite color?</p>
                <option value ="Pink">Pink </a>
                <option value ="Green"> Green</a>
                <option value ="Yellow">Yellow </a>
                <option value ="Purple">Purple</a>  </select><br>
                     
            Choose a noun:<br>
            <select name="nouns"><p>Pick a noun:</p>
                <option value ="bananas"> Bananas</a>
                <option value ="apples"> Apples</a>
                <option value ="limes"> Limes </a>
                <option value ="Kiwis"> Kiwi </a>  </select><br>
                     
            Pick an adjective:<br>
            <select name="adjectives"><p>Pick an adjective:</p>
                <option value ="short"> Short </a>
                <option value ="tall"> Tall</a>
                <option value ="brilliant"> Brilliant </a>
                <option value ="stupid">Stupid  </a>
                    
            </select>
        
           
             
        <input type="submit">
        </form>
    </body>    
</html>