<!-- make a simple form asing for person, color noun and adjective-->
<!DOCTYPE html>
<html>
    <body>
        <form action="/madlib" method="GET">
            <select name="Person Type"><p>What type of person are you?</p>
                <option value ="Vampire">Vampire</a>
                <option value ="Troll">Troll</a>
                <option value ="Transgender">Transgender</a>
                <option value ="Slayer">Slayer</a>  </select>
                    
      
            <select name="Color"><p>What's your favorite color?</p>
                <option value ="Pink">Pink </a>
                <option value ="Green"> Green</a>
                <option value ="Yellow">Yellow </a>
                <option value ="Purple">Purple</a>  </select>
                     
        
            <select name="Nouns"><p>Pick a noun:</p>
                <option value ="bananas"> Bananas</a>
                <option value ="apples"> Apples</a>
                <option value ="limes"> Limes </a>
                <option value ="Kiwis"> Kiwi </a>  </select>
                     
        
            <select name="Adjectives"><p>Pick an adjective:</p>
                <option value ="short"> Short </a>
                <option value ="tall"> Tall</a>
                <option value ="brilliant"> Brilliant </a>
                <option value ="stupid">Stupid  </a>
                    
            </select>
        
           
             </form>
       <form>
        <input type="submit">
        </form>
    </body>    
</html>